# shadow build dir
/build
# area for local temp files
/local
/install
# ide-specific settings
.vscode
cscope.*
# ctags index
/tags
/src/tags
# other temp files
*.swp
/src/support/logger/rust_bindings/Cargo.lock