[package]
name = "shadow-rs"
version = "2.0.0-pre.4"
edition = "2018"
publish = false

[lib]
path = "lib.rs"
crate-type = ["staticlib"]

[dependencies]
anyhow = { version = "1.0.44", features = ["backtrace"] }
atomic_refcell = "0.1"
bitflags = "1.3"
# holding clap version until there is a fix for https://github.com/clap-rs/clap/issues/2785
clap = { git = "https://github.com/clap-rs/clap", rev = "8f2ba607aa629176c84ee6d0076a989e44ab7e7f", features = ["wrap_help"] }
crossbeam = "0.8.1"
gml-parser = { path = "../lib/gml-parser" }
libc = "0.2"
# don't log debug or trace levels in release mode
log = { version = "0.4", features = ["release_max_level_debug"] }
log-bindings = { path = "../lib/logger/rust_bindings" }
lzma-rs = "0.2"
merge = "0.1"
nix = "0.22.0"
once_cell = "1.8"
petgraph = "0.6"
rand = "0.8.0"
rand_chacha = "0.3.1"
rand_core = "0.6.0"
rayon = "1.5.1"
regex = "1"
schemars = "0.8"
serde = { version = "1.0", features = ["derive"] }
serde_with = "1.10.0"
serde_yaml = "0.8"
# TODO: switch to upstream crate if/when they merge and release
# https://github.com/dylanmckay/vsprintf/pull/2
#
# Alternatively, just call libc's vsprintf directly when the unstable feature
# `c_variadic` is stabilized, or if we decide to enable it anyway.
# https://github.com/rust-lang/rust/issues/44930
vsprintf = { git = "https://github.com/sporksmith/vsprintf", rev = "fa9a307e3043a972501b3157323ed8a9973ad45a" }

[features]
perf_timers = []
