[package]
name = "shadow-rs"
version = "2.0.0"
edition = "2018"
publish = false

[lib]
path = "lib.rs"
crate-type = ["staticlib"]

[dependencies]
anyhow = { version = "1.0.51", features = ["backtrace"] }
atomic_refcell = "0.1"
bitflags = "1.3"
# custom version of the bytes crate required to make the 'try_unsplit' method public
# issue: https://github.com/tokio-rs/bytes/issues/287
# pr: https://github.com/tokio-rs/bytes/pull/513
bytes = { git = "https://github.com/stevenengler/bytes", rev = "871c7a18482186c91dbe2a2d9be20cc2c636fb02" }
clap = { version = "3.0.0-rc.4", features = ["derive", "wrap_help"] }
crossbeam = "0.8.1"
gml-parser = { path = "../lib/gml-parser" }
libc = "0.2"
# don't log debug or trace levels in release mode
log = { version = "0.4", features = ["release_max_level_debug"] }
log-bindings = { path = "../lib/logger/rust_bindings" }
lzma-rs = "0.2"
merge = "0.1"
nix = "0.23.1"
once_cell = "1.9"
petgraph = "0.6"
rand = "0.8.0"
rand_chacha = "0.3.1"
rand_core = "0.6.0"
rand_xoshiro = "0.6.0"
rayon = "1.5.1"
regex = "1"
schemars = "0.8"
serde = { version = "1.0", features = ["derive"] }
serde_with = "1.11.0"
serde_yaml = "0.8"
# TODO: switch to upstream crate if/when they merge and release
# https://github.com/dylanmckay/vsprintf/pull/2
#
# Alternatively, just call libc's vsprintf directly when the unstable feature
# `c_variadic` is stabilized, or if we decide to enable it anyway.
# https://github.com/rust-lang/rust/issues/44930
vsprintf = { git = "https://github.com/sporksmith/vsprintf", rev = "fa9a307e3043a972501b3157323ed8a9973ad45a" }

[features]
perf_timers = []
