# This file can be used to pin the rust toolchain to the "nightly" version used by shadow CI.
#
# ```sh
# ln -s ci/rust-toolchain-nightly.toml rust-toolchain.toml
# ```
#
# See
# https://rust-lang.github.io/rustup/overrides.html#the-toolchain-file
[toolchain]
# Must be a version built with miri; check
# https://rust-lang.github.io/rustup-components-history/
channel = "nightly-2024-08-09"
# We don't add individual components here. CI individually
# adds the ones they need (e.g. clippy, miri).
