# This file can be used to pin the rust toolchain to the "stable" version used by shadow CI.
#
# ```sh
# ln -s ci/rust-toolchain-stable.toml rust-toolchain.toml
# ```
#
# See
# https://rust-lang.github.io/rustup/overrides.html#the-toolchain-file
#
# After updating this version, it's a good idea to re-build the base images for
# our incremental CI tests (.github/workflows/run_tests_incremental.yml), so
# that the newly specified version is baked in and doesn't have to be installed
# (and rust deps rebuilt) during every incremental build.
[toolchain]
channel = "1.72.0"
