[workspace]

members = [
    "main",
    "test",
    "lib/shadow-build-common",
    "lib/gml-parser",
    "lib/logger",
    "lib/scoped-tls",
    "lib/shmem",
    "lib/shadow-shim-helper-rs",
    "lib/syscall-logger",
    "lib/tsc",
    "lib/vasi",
    "lib/vasi-macro",
]
