[workspace]

members = [
    "main",
    "test",
    "lib/shadow-build-common",
    "lib/gml-parser",
    "lib/logger",
    "lib/shmem",
    "lib/shadow-shim-helper-rs",
    "lib/std-util",
    "lib/syscall-logger",
    "lib/tsc",
    "lib/vasi",
    "lib/vasi-macro",
    "lib/vasi-sync",
]
