# Syntax reference:
# https://help.github.com/en/actions/automating-your-workflow-with-github-actions/workflow-syntax-for-github-actions

name: Tests

on:
  push:
    branches: [master]
    paths-ignore:
      - '**.md'
      - 'LICENSE'
  pull_request:
    types: [opened, synchronize]

jobs:
  testing:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cc: ['gcc', 'clang']
        buildtype: ['debug', 'release']
    steps:
      - name: Update packages
        run: sudo apt-get update

      - name: Checkout
        uses: actions/checkout@v2

      - name: Install dependencies
        run: sudo apt-get install -y ${{ matrix.cc }} g++ cmake make xz-utils python libglib2.0-0 libglib2.0-dev libigraph0v5 libigraph0-dev libc-dbg python-pyelftools

      - name: Build Debug
        if: ${{ matrix.buildtype == 'debug' }}
        run: CC=${{ matrix.cc }} python setup build --clean --test --werror --debug

      - name: Build Release
        if: ${{ matrix.buildtype == 'release' }}
        run: CC=${{ matrix.cc }} python setup build --clean --test --werror

      - name: Install
        run: python setup install

      - name: Test
        run: python setup test --verbose

# FIXME
#  shadow-plugin-tor-ci:
#    runs-on: ubuntu-latest
#    strategy:
#      matrix:
#        # TODO: add clang. Currently builds but has unsuccessful xfers in simulation.
#        cc: ['gcc']
#
#    env:
#      CC: ${{ matrix.cc }}
#
#    steps:
#      - name: Update packages
#        run: sudo apt-get update
#
#      - name: Checkout shadow
#        uses: actions/checkout@v2
#        with:
#          path: shadow
#
#      - name: Checkout tgen 
#        uses: actions/checkout@v2
#        with:
#          repository: shadow/tgen
#          ref: v0.0.1
#          path: tgen
#
#      - name: Checkout shadow-plugin-tor
#        uses: actions/checkout@v2
#        with:
#          repository: shadow/shadow-plugin-tor
#          ref: 391f85f26bcaf09dd6b9f06f7331b6b73b47db17
#          path: shadow-plugin-tor
#
#      - name: CI script
#        run: shadow-plugin-tor/tools/continuous_integration_test.sh
#
#      - name: Upload simulation logs
#        uses: actions/upload-artifact@v1
#        if: failure()
#        with:
#          name: simulation-output
#          path: simulation

