# Syntax reference:
# https://help.github.com/en/actions/automating-your-workflow-with-github-actions/workflow-syntax-for-github-actions

name: Rust Sanitizers
permissions: read-all

on:
  pull_request:
    types: [opened, synchronize]


jobs:
  miri:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        persist-credentials: false
        # Run on PR head instead of merge result. Running on the merge
        # result can give confusing results, and we require PR to be up to
        # date with target branch before merging, anyway.
        # See https://github.com/shadow/shadow/issues/2166
        ref: ${{ github.event.pull_request.head.sha }}

    # From https://github.com/rust-lang/miri#running-miri-on-ci
    - name: Install miri
      run: |
          # Must be a version built with miri; check
          # https://rust-lang.github.io/rustup-components-history/
          TOOLCHAIN=nightly-2023-05-31
          rustup toolchain install ${TOOLCHAIN} --component miri
          rustup override set ${TOOLCHAIN}
          cargo miri setup

    # No need to fully build shadow, but we need to run cmake to generate shd-config.h,
    # which is required for some of the rust modules' build scripts that compile C code.
    - name: run cmake
      run: |
        sudo apt-get install cmake
        mkdir build
        cd build
        cmake ..

    - name: Test
      run: |
        cd src
        # Disable isolation for some tests that use the current time (Instant::now).
        # 
        # Disable leak-checking for now. Some tests intentionally panic, causing leaks.
        export MIRIFLAGS="-Zmiri-disable-isolation -Zmiri-ignore-leaks"

        cargo miri test --workspace

  # See <https://docs.rs/loom/latest/loom/>
  loom:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        persist-credentials: false
        # Run on PR head instead of merge result. Running on the merge
        # result can give confusing results, and we require PR to be up to
        # date with target branch before merging, anyway.
        # See https://github.com/shadow/shadow/issues/2166
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Test
      run: |
        cd src
        # Currently only the vasi-sync crate is designed to work with loom.
        # This is also the crate that benefits the most from loom testing, since
        # it implements synchronization primitives.
        #
        # If this ever gets too slow, we can consider reducing `LOOM_MAX_PREEMPTIONS`
        # to substantially speed it up, at the cost of losing some coverage of possible
        # execution paths.
        RUST_BACKTRACE=1 \
          LOOM_MAX_PREEMPTIONS=3 \
          RUSTFLAGS="--cfg loom" \
          cargo test -p vasi-sync